# Practical task
## Working with Melbourn Real Estate data set
### List of columns:

1. index — номер строки
2. Suburb — наименование пригорода
3. Address — адрес
4. Rooms — количество комнат в помещении
5. Type — тип здания (h — дом, коттедж, вилла, терраса; u — блочный, дуплексный дом; t — таунхаус)
6. Price — цена помещения
7. Method — метод продажи 
8. SellerG — риэлторская компания
9. Date — дата продажи (в формате день/месяц/год)
10. Distance — расстояния до объекта от центра Мельбурна 
11. Postcode — почтовый индекс
12. Bedroom — количество спален
13. Bathroom — количество ванных комнат
14. Car — количество парковочных мест
15. Landsize — площадь прилегающей территории
16. BuildingArea — площадь здания
17. YearBuilt — год постройки
18. CouncilArea — региональное управление
19. Lattitude — географическая широта
20. Longitude — географическая долгота
21. Regionname — наименование района Мельбурна
22. Propertycount — количество объектов недвижимости в районе
23. Coordinates — широта и долгота, объединённые в кортеж

In [2]:
import pandas as pd

Во сколько раз площадь участка, на котором находится здание с индексом 3521, больше площади участка, на котором находится здание с индексом 1690? Ответ округлите до целого числа.

In [23]:
melb_data = pd.read_csv('data/melb_data.csv', sep=',')

print(melb_data.iloc[1690,14], melb_data.iloc[3521,14], melb_data.iloc[3521,14] / melb_data.iloc[1690,14])

print(
     round(melb_data.iloc[3521,14] / melb_data.iloc[1690,14])
    )

84.0 234.0 2.7857142857142856
3

Какой тип данных имеет столбец Coordinates?

In [24]:
melb_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          13580 non-null  int64
 1   Suburb         13580 non-null  object
 2   Address        13580 non-null  object
 3   Rooms          13580 non-null  int64
 4   Type           13580 non-null  object
 5   Price          13580 non-null  float64
 6   Method         13580 non-null  object
 7   SellerG        13580 non-null  object
 8   Date           13580 non-null  object
 9   Distance       13580 non-null  float64
 10  Postcode       13580 non-null  int64
 11  Bedroom        13580 non-null  float64
 12  Bathroom       13580 non-null  float64
 13  Car            13580 non-null  float64
 14  Landsize       13580 non-null  float64
 15  BuildingArea   13580 non-null  float64
 16  YearBuilt      13580 non-null  float64
 17  CouncilArea    12211 non-null  object
 18  Lattitude      13580 non-null  float64
 19  Longtitude     13580 non-null  float64
 20  Regionname     13580 non-null  object
 21  Propertycount  13580 non-null  float64
 22  Coordinates    13580 non-null  object
dtypes: float64(11), int64(3), object(9)
memory usage: 2.4+ MB

Выберите верные утверждения в отношении таблицы melb_data:
A Среднее и медианное значения цены дома в таблице отличаются более чем в 10 раз
B Половина проданных зданий находится на расстоянии от 6.1 до 13 километров от центра города
C Средняя площадь здания составляет более 180 квадратных метров
D В данных есть как минимум одно жилое помещение, которое находится ровно в той точке, которая считается центром Мельбурна
нет ответа

In [25]:
db = melb_data.describe().loc[:, ['Price', 'Distance', 'BuildingArea', 'Distance']]

#A:
print(db.iloc[1,1], db.iloc[5,1])
if (db.iloc[1,1] / db.iloc[5,1])>10 or (db.iloc[5,1] / db.iloc[1,1]) >10:
    print (True)
print(False)

10.13777614138439 9.2
False

Выберите верные утверждения в отношении таблицы melb_data:
A Наименьшее число объектов расположено в районе Southern Metropolitan
B Мельбурн и его пригороды разделены как минимум на восемь районов
C У некоторых различных адресов в таблице совпадают географические координаты
D В пригороде Reservoir расположено наибольшее число проданных объектов - 359

In [41]:
melb_data.describe(include=['object'])

,Suburb,Address,Type,Method,SellerG,Date,CouncilArea,Regionname,Coordinates
count,13580,13580,13580,13580,13580,13580,12211,13580,13580
unique,314,13378,3,5,268,58,33,8,13097
top,Reservoir,36 Aberfeldie St,h,S,Nelson,27/05/2017,Moreland,Southern Metropolitan,"-37.8361, 144.9966"
freq,359,3,9449,9022,1565,473,1163,4695,12

Сколько процентов от общего количества домов составляют таунхаусы (тип объекта — t)?

In [70]:
bd_temp = melb_data['Type'].value_counts(normalize=True)
display(bd_temp)
display(round(bd_temp.iloc[2],2))

h    0.695803
u    0.222165
t    0.082032
Name: Type, dtype: float64

0.08

Чему равно максимальное количество домов на продажу в районе (Propertycount)?

In [71]:
print(melb_data['Propertycount'].max())

21650.0

Чему равно стандартное отклонение (разброс) расстояния от центра города до объекта недвижимости?

In [73]:
print(round(melb_data['Distance'].std()))

6

Чему равно отклонение (в процентах) медианного значения площади здания от его среднего значения?
Ответ округлите до целого числа. Не указывайте знак %.

In [76]:
BuildingArea_median = melb_data['BuildingArea'].median() 
BuildingArea_mean =  melb_data['BuildingArea'].mean()
print(round((abs(BuildingArea_median - BuildingArea_mean)/BuildingArea_mean)*100))

10

Задан ряд чисел [1, 2, 4, 2, 3, 2, 1, 5, 6]. Чему равна мода в данном ряду?

In [79]:
db = pd.Series([1, 2, 4, 2, 3, 2, 1, 5, 6])
print(db.mode())

0    2
dtype: int64

Сколько спален чаще всего встречается в домах в Мельбурне?

In [89]:
print(melb_data['Rooms'].mode())

0    3
Name: Rooms, dtype: int64

У скольких объектов недвижимости из таблицы melb_data отсутствуют ванные комнаты?

In [91]:
print(melb_data[melb_data['Bathroom']==0])

       index           Suburb            Address  Rooms Type      Price  \
139      139       Alphington        6 Naroon Rd      3    h  1485000.0
281      281         Armadale    3/50 Denbigh Rd      2    u   546000.0
505      505        Balaclava     5/11 Albion St      2    u   497500.0
584      584           Balwyn     5 Shrimpton Ct      2    h  1010000.0
913      913   Bentleigh East    579 Warrigal Rd      3    h   700000.0
1063    1063         Brighton          17 New St      3    h  1900000.0
1070    1070         Brighton        1/5 Webb St      3    t  1067000.0
1593    1593       Camberwell   5 Nicholsdale Rd      4    h  1400000.0
2253    2253      Elsternwick    5/29 Nepean Hwy      2    u   410000.0
2777    2777        Glen Iris         25 Hope St      2    h   845000.0
2797    2797        Glen Iris        130 High St      4    h  1550000.0
2808    2808        Glen Iris    1/64 Edgar St N      2    u   545000.0
3390    3390          Ivanhoe  5/125 Locksley Rd      2    u   460000.0
3556    3556       Kensington      7/51 Epsom Rd      2    u   526000.0
3787    3787          Malvern       42 Cressy St      2    h   780000.0
4880    4880          Preston       19 Malpas St      4    h  1004000.0
5535    5535  South Melbourne          3 Park Pl      1    u   760500.0
5642    5642      South Yarra   82/390 Toorak Rd      3    u  1072000.0
5711    5711      South Yarra     2/28 Tivoli Pl      2    u   910000.0
6392    6392           Toorak   1/183 Kooyong Rd      2    u   857000.0
6406    6406           Toorak   6/183 Kooyong Rd      2    u   866000.0
6651    6651       Yarraville    1/53 Stephen St      2    u   410000.0
6671    6671       Yarraville     1a Kingston St      2    h   610000.0
6856    6856   East Melbourne     37/22 Agnes St      2    u   740000.0
6866    6866   East Melbourne    9/35 Powlett St      2    u   872000.0
6938    6938          Fawkner      1/66 Lorne St      3    u   470000.0
7494    7494     Balwyn North   215 Doncaster Rd      3    h  1670000.0
8010    8010          Ivanhoe     1/53 Norman St      3    t  1060000.0
8271    8271          Preston       86 Malpas St      3    h  1010000.0
9090    9090   Caulfield East     5/33 Grange Rd      2    u   350000.0
9917    9917         Hawthorn     1/30 Lisson Gr      2    h  1480000.0
10795  10795          Preston     24 Mitchell St      3    h  1150000.0
10895  10895        Balaclava    9/36 The Avenue      2    u   700000.0
11204  11204        St Albans       148 Power St      3    h   702000.0

      Method        SellerG        Date  Distance  ...  Car  Landsize  \
139       SP        McGrath  28/08/2016       6.4  ...  0.0     597.0
281       SP  hockingstuart  30/07/2016       6.3  ...  0.0       0.0
505       PI  hockingstuart  28/08/2016       6.6  ...  0.0       0.0
584       PI       Marshall  30/07/2016       9.7  ...  0.0    1611.0
913        S        Thomson  22/05/2016      13.9  ...  0.0     456.0
1063       S       Marshall   6/08/2016      11.2  ...  0.0       0.0
1070       S            Kay   7/05/2016      11.2  ...  1.0       0.0
1593      PI         Jellis  16/04/2016       7.8  ...  0.0     693.0
2253      VB           Gary  28/05/2016       8.5  ...  0.0       0.0
2777       S           Noel  10/09/2016       9.2  ...  0.0     207.0
2797      PI         Jellis  14/05/2016       9.2  ...  0.0     769.0
2808       S      Fletchers  16/07/2016       9.2  ...  0.0       0.0
3390      VB      Fletchers  16/04/2016       7.9  ...  0.0       0.0
3556       S         Nelson  22/08/2016       4.2  ...  0.0       0.0
3787      VB         Jellis  14/05/2016       7.4  ...  0.0       0.0
4880       S         Nelson   3/09/2016       8.8  ...  0.0     650.0
5535       S       Marshall   4/06/2016       2.1  ...  0.0     438.0
5642       S            Kay  13/08/2016       3.3  ...  0.0       0.0
5711       S       Williams  28/08/2016       3.3  ...  0.0       0.0
6392       S          Walsh  22/08/2016       4.6  ...  0.0       0.0
6406       S       Marshall  30/07/2016       4.6  ...  0.0       0.0
6651      PI  hockingstuart   6/08/2016       7.0  ...  0.0       0.0
6671      SP            Jas  15/10/2016       7.0  ...  0.0      94.0
6856      SP       Woodards   8/10/2016       1.5  ...  0.0       0.0
6866       S         Dingle  28/05/2016       1.5  ...  0.0       0.0
6938      SP           Brad  26/07/2016      12.4  ...  0.0     261.0
7494       S  hockingstuart  29/04/2017       9.2  ...  0.0     818.0
8010       S   Purplebricks  29/04/2017       7.9  ...  0.0     219.0
8271      SP        McGrath  20/05/2017       8.8  ...  0.0     533.0
9090      SP           Gary   3/06/2017       8.4  ...  0.0       0.0
9917       S       Marshall  24/06/2017       5.3  ...  0.0     241.0
10795     SP        McGrath   8/07/2017       8.4  ...  0.0     502.0
10895     SP       Marshall  12/08/2017       6.4  ...  0.0       0.0
11204     SP        Sweeney  12/08/2017      14.0  ...  0.0     600.0

       BuildingArea  YearBuilt   CouncilArea  Lattitude  Longtitude  \
139           126.0     1970.0       Darebin  -37.77810   145.02840
281           126.0     1970.0   Stonnington  -37.85680   145.01610
505           126.0     1970.0  Port Phillip  -37.87390   144.99290
584           126.0     1970.0    Boroondara  -37.80920   145.10160
913           126.0     1970.0     Glen Eira  -37.93140   145.08080
1063          126.0     1970.0       Bayside  -37.93010   144.99350
1070          126.0     1970.0       Bayside  -37.91190   144.98710
1593          126.0     1935.0    Boroondara  -37.83600   145.09140
2253          126.0     1970.0     Glen Eira  -37.88630   144.99960
2777          126.0     1970.0   Stonnington  -37.86300   145.05010
2797          126.0     1970.0    Boroondara  -37.86280   145.07340
2808          126.0     1970.0   Stonnington  -37.85000   145.04650
3390          126.0     1970.0       Banyule  -37.76620   145.05160
3556          126.0     1970.0     Melbourne  -37.79190   144.92530
3787          126.0     1970.0   Stonnington  -37.85020   145.04180
4880          126.0     1970.0       Darebin  -37.73460   145.02260
5535          126.0     1970.0  Port Phillip  -37.83530   144.96000
5642          126.0     1970.0   Stonnington  -37.84070   145.00430
5711          126.0     1970.0     Melbourne  -37.83570   144.98590
6392          126.0     1970.0   Stonnington  -37.84580   145.02210
6406          126.0     1970.0   Stonnington  -37.84580   145.02210
6651          126.0     1970.0   Maribyrnong  -37.81290   144.89520
6671          126.0     1970.0   Maribyrnong  -37.81500   144.88270
6856          126.0     1970.0     Melbourne  -37.81770   144.98010
6866          126.0     1970.0     Melbourne  -37.81540   144.98510
6938          126.0     1970.0      Moreland  -37.71580   144.97220
7494          126.0     1970.0    Boroondara  -37.79390   145.08660
8010          126.0     1980.0       Banyule  -37.76790   145.04660
8271          126.0     1970.0       Darebin  -37.73360   145.01680
9090          126.0     1970.0     Glen Eira  -37.88385   145.04785
9917          126.0     1970.0    Boroondara  -37.82679   145.03021
10795         126.0     1970.0       Darebin  -37.74936   144.98949
10895         126.0     1970.0  Port Phillip  -37.87149   144.99746
11204         126.0     1970.0      Brimbank  -37.72945   144.79592

                  Regionname  Propertycount           Coordinates
139    Northern Metropolitan         2211.0    -37.7781, 145.0284
281    Southern Metropolitan         4836.0    -37.8568, 145.0161
505    Southern Metropolitan         2952.0    -37.8739, 144.9929
584    Southern Metropolitan         5682.0    -37.8092, 145.1016
913    Southern Metropolitan        10969.0    -37.9314, 145.0808
1063   Southern Metropolitan        10579.0    -37.9301, 144.9935
1070   Southern Metropolitan        10579.0    -37.9119, 144.9871
1593   Southern Metropolitan         8920.0     -37.836, 145.0914
2253   Southern Metropolitan         4898.0    -37.8863, 144.9996
2777   Southern Metropolitan        10412.0     -37.863, 145.0501
2797   Southern Metropolitan        10412.0    -37.8628, 145.0734
2808   Southern Metropolitan        10412.0      -37.85, 145.0465
3390    Eastern Metropolitan         5549.0    -37.7662, 145.0516
3556   Northern Metropolitan         5263.0    -37.7919, 144.9253
3787   Southern Metropolitan         4675.0    -37.8502, 145.0418
4880   Northern Metropolitan        14577.0    -37.7346, 145.0226
5535   Southern Metropolitan         5943.0      -37.8353, 144.96
5642   Southern Metropolitan        14887.0    -37.8407, 145.0043
5711   Southern Metropolitan        14887.0    -37.8357, 144.9859
6392   Southern Metropolitan         7217.0    -37.8458, 145.0221
6406   Southern Metropolitan         7217.0    -37.8458, 145.0221
6651    Western Metropolitan         6543.0    -37.8129, 144.8952
6671    Western Metropolitan         6543.0     -37.815, 144.8827
6856   Northern Metropolitan         3040.0    -37.8177, 144.9801
6866   Northern Metropolitan         3040.0    -37.8154, 144.9851
6938   Northern Metropolitan         5070.0    -37.7158, 144.9722
7494   Southern Metropolitan         7809.0    -37.7939, 145.0866
8010    Eastern Metropolitan         5549.0    -37.7679, 145.0466
8271   Northern Metropolitan        14577.0    -37.7336, 145.0168
9090   Southern Metropolitan          608.0  -37.88385, 145.04785
9917   Southern Metropolitan        11308.0  -37.82679, 145.03021
10795  Northern Metropolitan        14577.0  -37.74936, 144.98949
10895  Southern Metropolitan         2952.0  -37.87149, 144.99746
11204   Western Metropolitan        14042.0  -37.72945, 144.79592

[34 rows x 23 columns]

Сколько в таблице melb_data объектов недвижимости, которые были проданы риелторской компанией Nelson и стоимость которых составила больше 3 миллионов?

In [93]:
melb_data[(melb_data['SellerG']=="Nelson")&(melb_data['Price']>3000000)]

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
2553,2553,Fitzroy,17 Bell St,4,h,4011000.0,S,Nelson,27/11/2016,1.6,...,2.0,286.0,275.0,1890.0,Yarra,-37.79990,144.97550,Northern Metropolitan,5825.0,"-37.7999, 144.9755"
2579,2579,Fitzroy North,79 Delbridge St,4,h,3400000.0,S,Nelson,14/05/2016,3.5,...,1.0,445.0,175.0,1890.0,Yarra,-37.78600,144.98640,Northern Metropolitan,6244.0,"-37.786, 144.9864"
6734,6734,Aberfeldie,126 The Boulevard,4,h,3900000.0,S,Nelson,10/12/2016,9.1,...,4.0,670.0,375.0,2010.0,Moonee Valley,-37.76370,144.89310,Western Metropolitan,1543.0,"-37.7637, 144.8931"
7695,7695,Carlton North,235 Amess St,4,h,3450000.0,S,Nelson,13/05/2017,3.2,...,1.0,515.0,203.0,1905.0,Yarra,-37.78170,144.97420,Northern Metropolitan,3106.0,"-37.7817, 144.9742"
11023,11023,Fitzroy,122 Nicholson St,4,h,3200000.0,VB,Nelson,12/08/2017,2.1,...,0.0,225.0,126.0,1862.0,Yarra,-37.80209,144.97443,Northern Metropolitan,5825.0,"-37.80209, 144.97443"

Какова минимальная стоимость участка без здания (площадь здания равна 0) в таблице melb_data?

In [96]:
melb_data[melb_data['BuildingArea']==0]['Price'].min()

412500.0

Какова средняя цена объектов недвижимости в таблице melb_data с ценой менее одного миллиона, 
в которых либо количество комнат больше пяти,
 либо здание моложе 2015 года?

In [102]:
round(melb_data[(melb_data['Price']<1000000)&((melb_data['Rooms']>5)|(melb_data['YearBuilt']>2015))]['Price'].mean())

769239

В каком районе Мельбурна чаще всего продаются виллы и коттеджи (тип здания — h) с ценой меньше трёх миллионов?

In [105]:
melb_data[(melb_data['Type']=='h')&(melb_data['Price']<3000000)]['Regionname'].value_counts()

Northern Metropolitan         2737
Southern Metropolitan         2520
Western Metropolitan          2286
Eastern Metropolitan          1167
South-Eastern Metropolitan     387
Eastern Victoria                50
Northern Victoria               41
Western Victoria                32
Name: Regionname, dtype: int64

In [112]:
melb_data['BuildingArea'].max()
melb_data[melb_data['BuildingArea']==44515.0]

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
13245,13245,New Gisborne,71 Hamilton Rd,5,h,1355000.0,S,Raine,23/09/2017,48.1,...,5.0,44500.0,44515.0,1970.0,NaN,-37.45392,144.58864,Northern Victoria,849.0,"-37.45392, 144.58864"

# AUTOTESTS:

In [3]:
import pandas as pd
st_data = pd.read_csv('data/students_performance.csv', sep=',')

In [32]:
st_data.head()
st_data.tail()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

Данные о скольких студентах содержатся в таблице? 1000

In [7]:
st_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

Каков балл по письму у студента под индексом 155?
61

In [28]:
print(st_data.iloc[155,7])

88

Сколько суммарно пропущенных значений в таблице?
0

Сколько столбцов в таблице имеет тип данных object?
5

In [ ]:
5

Какой объём памяти (в килобайтах) занимает таблица?
Округлите ответ до целого числа.

63

Каков у студентов средний балл по математике?
Округлите ответ до целого числа.

66

In [17]:
round(st_data.iloc[:,5].mean())

66

Какая расовая группа является самой крупной в учебном заведении?
В качестве ответа введите идентификатор группы (A, B, C, D, F). 

'group E'

In [29]:
st_data.iloc[:,1].describe()

count        1000
unique          5
top       group C
freq          319
Name: race/ethnicity, dtype: object

Каков средний балл по чтению у студентов, которые посещали курсы подготовки к экзаменам?
Округлите ответ до целого числа.

74

In [27]:
round(st_data[st_data.iloc[:,4]=='completed']['reading score'].mean())

74

Сколько студентов получили 0 баллов по математике?

In [31]:
st_data[st_data.iloc[:,5]==0].shape[0]

1

In [33]:
st_data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

Проверьте гипотезу: у студентов с оплачиваемым питанием средний балл по математике выше, чем у студентов с льготным питанием.
В качестве ответа напишите наибольший средний балл по математике среди этих групп студентов.
Округлите ответ до целого числа.

In [37]:
display(round(st_data[st_data.iloc[:,3]=='standard']['math score'].mean()))
display(round(st_data[st_data.iloc[:,3]=='free/reduced']['math score'].mean()))

70

59

Каков процент студентов, родители которых имеют высшее образование уровня бакалавриата (bachelor's degree)?
Округлите ответ до целого числа.
Не указывайте знак %.

In [38]:
st_data.iloc[:,2].value_counts(normalize=True)

some college          0.226
associate's degree    0.222
high school           0.196
some high school      0.179
bachelor's degree     0.118
master's degree       0.059
Name: parental level of education, dtype: float64

Насколько медианный балл по письму у студентов в расовой группе А отличается от среднего балла по письму у студентов в расовой группе C?
Округлите ответ до целого и запишите модуль этого числа.

In [50]:
a_median = st_data[st_data.iloc[:,1]=='group A']['writing score'].median()
c_mean = st_data[st_data.iloc[:,1]=='group C']['writing score'].mean()
print(round(abs(a_median-c_mean)))

6