In [ ]:
import pandas as pd
melb_data = pd.read_csv('file://localhost/C:/Users/ALEXA/Desktop/DSPR/Homeworks/Module_Python_10_Pandas_Intro/Data/melb_data.csv', sep=',')
melb_df = melb_data.copy()

In [ ]:
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})

countries_df['mean_population'] = (countries_df['population']*1000000)/countries_df['square']
output = round(countries_df['mean_population'].mean() ,2)
print(output)

In [ ]:
ufo_db = pd.read_csv('https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/ufo.csv', sep=',')
ufo_db.head()
ufo_db.tail()

В каком году отмечается наибольшее количество случаев наблюдения НЛО в США?

In [ ]:
ufo_db['Time'] = pd.to_datetime(ufo_db['Time'], dayfirst=False)
display(ufo_db['Time'].dt.year.value_counts(normalize = True))

Найдите средний интервал времени (в днях) между двумя последовательными случаями наблюдения НЛО в штате Невада (NV).    
Чтобы выделить дату из столбца Time, можно воспользоваться атрибутом datetime date.     

Чтобы вычислить разницу между двумя соседними датами в столбце, примените к нему метод diff().     

Чтобы перевести интервал времени в дни, воспользуйтесь атрибутом timedelta days.

In [ ]:
ufo_db['Dates'] = ufo_db['Time'].dt.date
ufo_db['Dates'] = pd.to_datetime(ufo_db['Dates'])
# display(ufo_db['Dates'])

print(ufo_db[ufo_db['State']=='NV']['Dates'].diff().dt.days.mean())

Ранее, в задании 3.3, мы создали признак WeekdaySale в таблице melb_df — день недели продажи. Из полученных в задании результатов можно сделать вывод, что объекты недвижимости в Мельбурне продаются преимущественно по выходным (суббота и воскресенье).
Напишите функцию get_weekend(weekday), которая принимает на вход элемент столбца WeekdaySale и возвращает 1, если день является выходным, и 0 — в противном случае, и создайте столбец Weekend в таблице melb_df с помощью неё.

Примените эту функцию к столбцу и вычислите среднюю цену объекта недвижимости, проданного в выходные дни. Результат округлите до целых.

In [ ]:
melb_df['Date'] = pd.to_datetime(melb_df['Date'], dayfirst=True)
melb_df['WeekdaySale'] = melb_df['Date'].dt.dayofweek
weekend_count = melb_df[(melb_df['WeekdaySale'] == 5) | (melb_df['WeekdaySale'] == 6)].shape[0]

def get_weekend(day):
    if day<5:
        return 0
    return 1

melb_df['Weekend'] = melb_df['WeekdaySale'].apply(get_weekend)
weekend_sales_mean = melb_df[melb_df['Weekend'] == 1]['Price'].mean()

print(round(weekend_sales_mean))

Преобразуйте столбец SellerG с наименованиями риелторских компаний в таблице melb_df следующим образом: оставьте в столбце только 49 самых популярных компаний, а остальные обозначьте как 'other'.
Найдите, во сколько раз минимальная цена объектов недвижимости, проданных компанией 'Nelson', больше минимальной цены объектов, проданных компаниями, обозначенными как 'other'. Ответ округлите до десятых.

In [ ]:
best_sellers =melb_df['SellerG'].value_counts().nlargest(49).index

melb_df['SellerG'] = melb_df['SellerG'].apply(lambda x: x if x in best_sellers else 'other')
# display(melb_df['SellerG'])

nelson_min = melb_df[melb_df['SellerG']=='Nelson']['Price'].min()
other_min = melb_df[melb_df['SellerG']=='other']['Price'].min()
print(round(nelson_min/other_min,1))

При преобразовании столбцов таблицы о недвижимости к типу category мы оставили без внимания столбец Suburb (пригород). Давайте исправим это.
С помощью метода info() узнайте, сколько памяти занимает таблица melb_df.
Преобразуйте признак Suburb следующим образом: оставьте в столбце только 119 наиболее популярных пригородов, остальные замените на 'other'.
Приведите данные в столбце Suburb к категориальному типу.
В качестве ответа запишите разницу между объёмом занимаемой памяти до преобразования (который мы получили ранее в модуле) и после него в Мб. Ответ округлите до десятых.

In [ ]:
melb_df.info()
memo1 = melb_df.memory_usage().sum()

In [ ]:


pop = melb_df['Suburb'].value_counts().nlargest(119).index

melb_df['Suburb'] = melb_df['Suburb'].apply(lambda x : x if x in pop else 'other')

melb_df['Suburb'] = melb_df['Suburb'].astype('category')

memo2 = melb_df.memory_usage().sum()

melb_df.info()

dif_memo = round(memo1-memo2,1)

print('Memo usage difference is of ', dif_memo)

# Practice

In [15]:
bikes_df = pd.read_csv('data/citibike-tripdata.csv')
bike_df = bikes_df.copy()

In [16]:
bike_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB

In [18]:
bike_df.head()

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1

Сколько пропусков в столбце start station id?

In [22]:
bike_df['start station id'].isnull().sum()

169

Найдите идентификатор самой популярной стартовой стоянки. Запишите идентификатор в виде целого числа.

In [25]:
bike_df['start station id'].value_counts().nlargest()

281.0     1928
2006.0    1909
519.0     1873
514.0     1845
426.0     1835
Name: start station id, dtype: int64

Велосипед с каким идентификатором является самым популярным?

In [26]:
bike_df['bikeid'].value_counts().nlargest()

33887    107
34358    104
34159    103
34258    103
33916    102
Name: bikeid, dtype: int64

Какой тип клиентов (столбец usertype) является преобладающим — Subscriber или Customer? В качестве ответа запишите долю клиентов преобладающего типа среди общего количества клиентов. Ответ округлите до сотых.

In [30]:
round(bike_df['usertype'].value_counts(normalize=True).nlargest(),2)

Subscriber    0.77
Customer      0.23
Name: usertype, dtype: float64

Кто больше занимается велоспортом — мужчины или женщины? В ответ запишите число поездок для той группы, у которой их больше.

In [37]:
bike_df['gender'].value_counts()

1    183582
2     74506
0     41912
Name: gender, dtype: int64

Выберите утверждения,которые соответствуют нашим данным:
A Число уникальных стартовых и конечных стоянок, которыми воспользовались клиенты, не равны друг другу
B В рассматриваемые дни минимальный возраст клиента составлял 10 лет
C Самой непопулярной стартовой стоянкой из тех, которыми воспользовались клиенты, является стоянка с названием "Eastern Pkwy & Washington Ave"
D Наибольшее количество поездок завершается на стоянке под названием "Liberty Light Rail"

In [79]:
# A:
print(bike_df['start station name'].nunique())
print(bike_df['end station name'].nunique())

# B:
print(bike_df['birth year'].max())
print(bike_df['stoptime'].max())

# C:
bike_df['end station name'].value_counts()
bike_df['start station name'].value_counts()

759
765
2002
2018-09-30 00:54:32.8170

Grand Army Plaza & Central Park S    1928
Central Park S & 6 Ave               1909
Pershing Square North                1873
12 Ave & W 40 St                     1845
West St & Chambers St                1835
                                     ...
NYCBS Depot - GOW                      15
Franklin Ave & Empire Blvd             11
Railroad Ave & Kay Ave                  9
47 Ave & Skillman Ave                   7
Eastern Pkwy & Washington Ave           6
Name: start station name, Length: 759, dtype: int64

В первую очередь удалим лишнюю информацию из данных.
В наших данных присутствуют столбцы, которые дублируют информацию друг о друге: это столбцы с идентификатором и названием стартовой и конечной стоянки. Удалите признаки идентификаторов стоянок. Сколько столбцов осталось?

In [80]:
bike_df.drop(['start station id', 'end station id'], axis=1, inplace=True)
bike_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 12 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station name       299831 non-null  object
 3   start station latitude   300000 non-null  float64
 4   start station longitude  300000 non-null  float64
 5   end station name         299831 non-null  object
 6   end station latitude     300000 non-null  float64
 7   end station longitude    300000 non-null  float64
 8   bikeid                   300000 non-null  int64
 9   usertype                 300000 non-null  object
 10  birth year               300000 non-null  int64
 11  gender                   300000 non-null  int64
dtypes: float64(4), int64(3), object(5)
memory usage: 27.5+ MB

Замените признак birth year на более понятный признак возраста клиента age. Годом отсчёта возраста выберите 2018 год. Столбец birth year удалите из таблицы. Сколько поездок совершено клиентами старше 60 лет?

In [91]:
# bike_df['age'] = 2018-bike_df['birth year']
bike_df[bike_df['age']>60]

,starttime,stoptime,start station name,start station latitude,start station longitude,end station name,end station latitude,end station longitude,bikeid,usertype,gender,age
53,2018-09-01 00:04:20.9200,2018-09-01 00:11:21.6180,Grand Army Plaza & Central Park S,40.764397,-73.973715,Broadway & W 53 St,40.763441,-73.982681,24824,Subscriber,2,63
373,2018-09-01 00:25:47.6740,2018-09-01 00:39:31.7160,Mott St & Prince St,40.723180,-73.994800,Mott St & Prince St,40.723180,-73.994800,26083,Subscriber,2,68
405,2018-09-01 00:29:10.1630,2018-09-01 00:44:08.6110,Avenue D & E 3 St,40.720828,-73.977932,Avenue D & E 12 St,40.725806,-73.974225,33436,Subscriber,2,61
435,2018-09-01 00:31:21.7250,2018-09-01 00:41:57.9200,Broadway & W 56 St,40.765265,-73.981923,W 37 St & 10 Ave,40.756604,-73.997901,19894,Subscriber,2,63
457,2018-09-01 00:33:19.8080,2018-09-01 00:37:29.9270,Warren St & Court St,40.686371,-73.993833,Bond St & Bergen St,40.684967,-73.986208,34173,Subscriber,1,118
...,...,...,...,...,...,...,...,...,...,...,...,...
299882,2018-09-05 19:07:25.4010,2018-09-05 19:35:36.5000,Amsterdam Ave & W 66 St,40.774667,-73.984706,Cathedral Pkwy & Broadway,40.804213,-73.966991,16376,Subscriber,1,64
299883,2018-09-05 19:07:24.9130,2018-09-05 19:20:20.2760,W 4 St & 7 Ave S,40.734011,-74.002939,E 2 St & Avenue A,40.723077,-73.985836,29943,Subscriber,2,70
299946,2018-09-05 19:08:06.4620,2018-09-05 19:20:16.0180,Henry St & Grand St,40.714215,-73.981346,Lafayette St & E 8 St,40.730207,-73.991026,30951,Subscriber,1,71
299957,2018-09-05 19:08:12.5770,2018-09-05 19:42:24.0340,Market St & Cherry St,40.710762,-73.994004,Catherine St & Monroe St,40.711174,-73.996826,31453,Subscriber,1,76
299990,2018-09-05 19:08:26.2640,2018-09-05 19:44:53.7800,Columbus Ave & W 72 St,40.777057,-73.978985,Hudson St & Reade St,40.716250,-74.009106,26377,Subscriber,1,66

In [88]:
bike_df.drop(['birth year'], axis=1, inplace=True)

Создайте признак длительности поездки trip duration. Для этого вычислите интервал времени между временем окончания поездки (stoptime) и временем её начала (starttime) в секундах. Рассчитайте среднее значение по новому столбцу — среднюю длительность поездки, а затем переведите её в секунды. Ответ округлите до целого.
Для того чтобы преобразовать временной интервал timedelta в секунды, используется атрибут seconds (в datetime атрибут был second — в единственном числе).

In [94]:
bike_df['starttime'] = pd.to_datetime(bike_df['starttime'], dayfirst=True)
bike_df['stoptime'] = pd.to_datetime(bike_df['stoptime'], dayfirst=True)

In [109]:
bike_df['traveltime'] = bike_df['stoptime'] - bike_df['starttime']
mean_time = bike_df['traveltime'].mean()
mean_time = mean_time.seconds
print(mean_time)

1126

Создайте «признак-мигалку» weekend, который равен 1, если поездка начиналась в выходной день (суббота или воскресенье), и 0 — в противном случае. Выясните, сколько поездок начиналось в выходные.

In [116]:

bike_df['weekend'] = bike_df['starttime'].apply(lambda x: 1 if x.dayofweek>4 else 0)

0         1
1         1
2         1
3         1
4         1
         ..
299995    0
299996    0
299997    0
299998    0
299999    0
Name: weekend, Length: 300000, dtype: int64

In [128]:
bike_df[bike_df['weekend']==1].shape[0]

115135

Создайте признак времени суток поездки time_of_day. Время суток будем определять из часа начала поездки. Условимся, что:
поездка совершается ночью 

(night), если её час приходится на интервал от 0 (включительно) до 6 (включительно) часов;

(morning), если её час приходится на интервал от 6 (не включительно) до 12 (включительно) часов;

(day), если её час приходится на интервал от 12 (не включительно) до 18 (включительно) часов;

(evening), если её час приходится на интервал от 18 (не включительно) до 23 часов (включительно).


Во сколько раз количество поездок, совершённых днём, больше, чем количество поездок, совёршенных ночью, за представленный в данных период времени? Ответ округлите до целых.

In [129]:
def day_period(time):
    day_slice = time.hour
    if day_slice>=0 and day_slice<=6:
        return 'night'
    elif day_slice>6 and day_slice<=12:
        return 'morning'
    elif day_slice>12 and day_slice<=18:
        return 'day'
    elif day_slice>18 and day_slice<=23:
        return 'evening'

In [131]:
bike_df['time_of_day'] = bike_df['starttime'].apply(day_period)
display(bike_df['time_of_day'])

0           night
1           night
2           night
3           night
4           night
           ...
299995    evening
299996    evening
299997    evening
299998    evening
299999    evening
Name: time_of_day, Length: 300000, dtype: object

In [134]:
d_ride = bike_df[bike_df['time_of_day'] =='day'].shape[0]
n_ride = bike_df[bike_df['time_of_day'] =='night'].shape[0]
print(round(d_ride/n_ride))

9